@import "tailwindcss";

@theme {
  --color-primary: #00b4d8;
  --color-surface: #00b4d8;
  --color-surface-light: #caf0f8;
  --color-secondary: #0077b6;
  --color-foreground: #FFFFFF;
  --color-muted-foreground: #A0A0A5;
}
